---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Danielle Donnelly" description="About Danielle Donnelly">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="A brief overview of my background"
			>
				<img
					class="about-photo"
					width="777"
					height="437"
					src="/marketing-portfolio/assets/at-work.jpg"
					alt="Danielle outside with her cat Mitzi"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a creative marketer with a well-rounded background. You can find me working remotely in my cozy home office in Tors Cove, with my cat Mitzi.
						I love what I do, and I wouldn't have it any other way. When I'm not working, I'm usually learning something new. My latest focus has been web development.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I graduated from Memorial University of Newfoundland with a Bachelor of Commerce Co-operative (Honours).</p>
					<p>I'm a lifelong learner with a passion for tech and education. Right now, I'm learning web development as a student in the Get Building program.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>I've drafted educational blogs for Carnegie Learning, developed online product pages for Atlantic Edge Credit Union, and created some independent web games of my own; 
						these are just a few examples of my experience. It's been a privilege being able to develop my skills in so many different contexts.
						

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Fun Facts</h2>
				<div class="content">
					<p>I have a spreadsheet obsession and enjoy using Google Sheets to track just about everything.</p>
					<p>I love board games and video games (my favourites are Dominion and Dicey Dungeons).</p>
					<p>My greatest strength is philomathy, and my greatest weakness is chocolate.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
