---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Danielle Donnelly" description="About Danielle Donnelly">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="A brief overview of my background."
			>
				<img
					width="777"
					height="7"
					src="/marketing-portfolio/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I’m a well-rounded marketing specialist who thrives at the intersection of communications, data, and strategy. Working with technology and creative media is a major passion of mine.
						I have a strong track record with proven results working cross-functionally in various roles.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I graduated from Memorial University of Newfoundland with a Bachelor of Commerce Co-operative (Honours).</p>
					<p>I consider myself a lifelong learner, and constantly seek new opportunities to improve my skills.</p>
					<p>Currently, I'm learning web development and technical skills as a student in the Get Building program.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>I specialize in writing and design, with experience in crafting a range of content. I've written social media posts, emails, press releases, and blogs. I've designed everything from print material like posters to digital assets for websites and web games. 
						On the technical side, I’m skilled in HTML, CSS, JavaScript, and React, building responsive websites and dynamic applications.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Fun Facts</h2>
				<div class="content">
					<p>I have a spreadsheet obsession and enjoy using Google Sheets to track just about everything.</p>
					<p>I love board games and video games (my favourites are Dominion and Dicey Dungeons).</p>
					<p>My greatest strength is philomathy, and my greatest weakness is chocolate.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
