---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Results | Danielle Donnelly" description="About Danielle Donnelly's Impact">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Results"
				tagline="Measurable results driven by data">
			</Hero>

			<section>
				<h2 class="section-title">Social Media</h2>
				<div class="content">
					<p>
						One great example of my impact is the growth I achieved while managing Carnegie Learning's social media channels. 
						After I began working with the Carnegie Learning Content Marketing Team in October 2022, there was a noticeable increase in the rate of growth of total followers. 
					</p>
					<p>
						<img
						class="results-photo graph"
						width="100%"
						src="/marketing-portfolio/assets/social-results.jpg"
						alt="A graph displaying Carnegie Learning's social media growth over time."
					/>
					<br><br>
					</p>
					<p>
						Engagement, followership, and reach all grew substantially. I achieved this growth by posting content regularly across Twitter, Instagram, LinkedIn, and Facebook, while also managing two social media communities for educators: Long Live Math and Language is Limitless.
						Prior to when I joined the team, Carnegie Learning would get an average of 485 new followers each month across all platforms. After joining, the average total follower increased per month to 844, almost double what it was initially.
					</p>
					</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I graduated from Memorial University of Newfoundland with a Bachelor of Commerce Co-operative (Honours).</p>
					<p>I consider myself a lifelong learner, and constantly seek new opportunities to improve my skills.</p>
					<p>Currently, I'm learning web development and technical skills as a student in the Get Building program.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>I specialize in writing and design, with experience in crafting a range of content. I've written social media posts, emails, press releases, and blogs. I've designed everything from print material like posters to digital assets for websites and web games. 
						On the technical side, I’m skilled in HTML, CSS, JavaScript, and React, building responsive websites and dynamic applications.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Fun Facts</h2>
				<div class="content">
					<p>I have a spreadsheet obsession and enjoy using Google Sheets to track just about everything.</p>
					<p>I love board games and video games (my favourites are Dominion and Dicey Dungeons).</p>
					<p>My greatest strength is philomathy, and my greatest weakness is chocolate.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
